<!DOCTYPE html>
<html lang="en">
<head>
	<title>MastoBot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header>
		<img src="/logo.png" />
		<p>
			Bot to consume RSS data and make it available on the social network Mastodon <a href="https://joinmastodon.org/">Mastodon</a>
		</p>
		<p>Date latest publications</p>
		<% @publications.each do |publication| %>
		<div><%= publication.delete('-0300') %></div>
		<% end %>
	</header>
</body>
</html>